.size_img{
    background-size:revert;
    height: 100% !important;
    background-repeat: repeat;
    width: 900px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top:10px
}
.div_cree{
    position : relative;
    top: -600px;
    left: 300px;

    background-color: white;
}
.logo3{
    height: 100px;
    width: 100px;
}
.logo2{
    height: 95px;
    width: 95px;
}
.logo1{
    height: 100px;
    width: 100px;
}
.linea{
    width: 750px;

}
.center {
}

.linea1{
    background-color: #58260D;
    height:8px;
    width: 150px;
    margin-top:15px;
    border-radius:2px;
    margin-left: 10px;
    margin-right: 10px;
}
.container_login {
    height: 1000px;
}

.card{
    border: solid 1px darkgray;
    margin: 10px;
    height:400px;
    width:300px;
    border-radius: 5px;
}


/* card pour les produis */

.cards{
    height:300px;
    width: 200px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
}

.cards:hover{
    border: solid 2px maroon;
}

.buttons{
    background-color: black;
    color: white;
    height: 40px;
    width: 80px;
    border-radius: 5px;
}
.modal {
    position: absolute;
    top: 150px;
    left: 510px;
    background-image: url("https://images.pexels.com/photos/3010771/pexels-photo-3010771.jpeg?auto=compress&cs=tinysrgb&w=1600");
    z-index: 9999;
    border-radius: 10px;
    width:900px ;
    height: 700px;
    color : white !important;
}

.modal-content {
    /* Styles pour le contenu de la modal */
}

.modal-close {
    /* Styles pour le bouton de fermeture */
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html, body{
    font-family: 'Roboto', sans-serif;
}

.break-inside {
    -moz-column-break-inside: avoid;
    break-inside: avoid;
}

.backgroundImage{
    background-image: url("https://images.pexels.com/photos/9224899/pexels-photo-9224899.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: contain;
    background-repeat: no-repeat;
    width : 800px
}

.image-home{
    border-radius : 20px;
    height : 299px;
}

.text-nav{
    display: flex;
    align-items: flex-start;
}

.video-container {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.image-container {
    width: 180px; /* Ajustez la taille selon vos besoins */
    height: 220px; /* Ajustez la taille selon vos besoins */
}

.image-container img {
    width: 100%;
    height: 100%;
    /* Pour s'assurer que l'image couvre complètement le conteneur */
}
